[Unit]
Description=DWIN LCD Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/simpleLCD.env
ExecStartPre=/bin/sleep 20
ExecStart=/usr/local/bin/simpleLCD
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
