[Unit]
Description=DWIN LCD Service
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/etc/simpleLCD.env
ExecStartPre=/bin/sleep 20
ExecStart=${INSTALL_DIR}/run.sh

[Install]
WantedBy=multi-user.target
